__pycache__/
*.py[cod]

build/
build_modern/
dist/
*.spec.bak

.venv/
venv/

webcache/
appdata/
AnomalyLauncher.cfg
commandline.txt
*.log
*.pdb
*.user
*.suo
.idea/
artifacts/
next/.local/

.vs/
bin/
obj/
